*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#020617);
color:#e2e8f0;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
padding:15px 8%;
position:fixed;
width:100%;
background:#020617cc;
backdrop-filter:blur(10px);
}

nav a{
color:#e2e8f0;
margin-left:20px;
text-decoration:none;
}

/* HERO (TECH BACKGROUND) */

.hero{
height:70vh;
background-image:url("https://images.unsplash.com/photo-1498050108023-c5249f4df085"); /* Laptop coding image */
background-size:cover;
background-position:center;
display:flex;
align-items:center;
padding:0 8%;
}


.hero-content{
background:rgba(2,6,23,0.7);
padding:30px;
border-radius:10px;
}

.hero span{
color:#38bdf8;
}

/* SECTIONS */

section{
padding:70px 8%;
}

h2{
color:#38bdf8;
margin-bottom:20px;
}

/* SKILLS */

.skills{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.skill{
background:#020617;
padding:15px;
border-radius:10px;
text-align:center;
width:120px;
}

.skill img{
width:40px;
margin-bottom:10px;
}

/* PROJECTS */

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#020617;
border-radius:10px;
overflow:hidden;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 15px #38bdf8;
}

.card img{
width:100%;
height:160px;
object-fit:cover;
}

.card h3{
padding:10px;
}

.card p{
padding:0 10px 15px;
}

/* CONTACT */

#contact a{
display:block;
margin:10px 0;
color:#38bdf8;
text-decoration:none;
}
